{% extends "./layouts/base.twig" %}
{% block assets %}
	{{ parent() }}
	<style>
		.test-col {
			background-color: #EEE;
			text-align: center;
			padding: 8px 0;
			border-radius: 5px;
			font-size: 13px;
			margin: 10px 0;
		}
		.test-col .test-col {
			background-color: #CCC;
			border-radius: 0px;
		}
		.test-heading {
			font-size: 32px;
			text-align: center;
		}
		@media screen and (max-width: 640px) {
			.test-col {
				margin: 5px 0;
			}
		}
	</style>
{% endblock %}

{% block main %}
	<div class="container">
		<div class="row">
			<div class="col span-12">
				<h1 class="test-heading">Grid</h1>
			</div>
		</div>
		<div class="row">
		{% for i in 1..12 %}
			<div class="col md-1">
				<div class="test-col">MD 1</div>
			</div>
		{% endfor %}
		</div>
		<div class="row">
		{% for i in 1..6 %}
			<div class="col md-2">
				<div class="test-col">MD 2</div>
			</div>
		{% endfor %}
		</div>
		<div class="row">
		{% for i in 1..4 %}
			<div class="col md-3">
				<div class="test-col">MD 3</div>
			</div>
		{% endfor %}
		</div>
		<div class="row">
		{% for i in 1..3 %}
			<div class="col md-4">
				<div class="test-col">MD 4</div>
			</div>
		{% endfor %}
		</div>
		<div class="row">
			<div class="col md-6">
				<div class="test-col">MD 6</div>
			</div>
			<div class="col md-6">
				<div class="test-col">MD 6</div>
			</div>
		</div>
		<div class="row">
			<div class="col md-12">
				<div class="test-col">MD 12</div>
			</div>
		</div>

		<div class="row">
			<div class="col span-12">
				<h1 class="test-heading">Nesting Grid</h1>
			</div>
		</div>

		<div class="row">
			<div class="col md-12">
				<div class="test-col">MD 12
					<div class="row">
					{% for i in 1..4 %}
						<div class="col md-3">
							<div class="test-col">Nesting MD 3</div>
						</div>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col md-6">
				<div class="test-col">MD 6
					<div class="row">
						<div class="col md-6">
							<div class="test-col">Nesting MD 6</div>
						</div>
						<div class="col md-6">
							<div class="test-col">Nesting MD 6</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col md-6">
				<div class="test-col">MD 6
					<div class="row">
						<div class="col md-6">
							<div class="test-col">Nesting MD 6</div>
						</div>
						<div class="col md-6">
							<div class="test-col">Nesting MD 6</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col span-12">
				<h1 class="test-heading">Ordering</h1>
			</div>
		</div>

		<div class="row">
			<div class="col md-6 md-push-6">
				<div class="test-col">FIRST IN MOBILE</div>
			</div>
			<div class="col md-6 md-pull-6">
				<div class="test-col">SECOND IN MOBILE</div>
			</div>
		</div>

		<div class="row">
			<div class="col md-4 md-push-8">
				<div class="test-col">FIRST: PUSH 8</div>
			</div>
			<div class="col md-4 md-pull-4">
				<div class="test-col">SECOND: PULL 4</div>
			</div>
			<div class="col md-4 md-pull-4">
				<div class="test-col">THIRD: PULL 4</div>
			</div>
		</div>
	</div>

{% endblock main %}
